@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', serif;
}

h1 {
  text-align: center;
  margin-top: -70px;
  text-transform: uppercase;
}

p {
  text-align: center;
  margin-bottom: 30px;
}

#btn-reservation {
  max-width: 200px;
  margin: 0 auto;
  font-weight: 700;
  background: #008000;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  border: none;
  transition: 0.2s ease-in-out;
}

#btn-reservation:hover {
  background: transparent;
  border: 1px solid #228b22;
  color: black;
}

.alert {
  width: 40%;
}

@media (max-width: 991px) {
  h1 {
    text-align: center;
    margin-top: -70px;
  }

  .alert {
    width: 90%;
  }
}

@media (max-width: 480px) {
  h1 {
    text-align: center;
    margin-top: 30px;
  }
}
